@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    font-family: "Outfit", sans-serif;
  }

  /* Header */
header.header.header--middle-left.header--mobile-center.page-width.header--has-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

  /* Product Page */
.product__title h1 {
    font-size: 38px;
    font-weight: 700;
    line-height: 42px;
}
.product__info-wrapper .jdgm-prev-badge__text {
    margin-left: 8px!important;
    color: #b3b3b3;
    text-transform: capitalize;
    font-size: 18px;
}
.product__info-wrapper .jdgm-prev-badge__text:before {
    content:"("
}
.product__info-wrapper .jdgm-prev-badge__text:after {
    content:")"
}
.template-product .product__info-wrapper .price-item.price-item--sale, .template-product .product__info-wrapper .price-item.price-item--regular {
    font-weight: 500;
    font-size: 30px;
    line-height: 50px;
}
.template-product .product__info-wrapper .price--on-sale .price-item--regular {
    font-weight: 400;
    font-size: 26px!important;
    color: #b3b3b3;
    opacity:0.8;
}
.price.price--large.price--on-sale {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.price--on-sale .price__sale {
    display: flex!important;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.product__description.rte {
    border-top: 1px solid #b3b3b37a;
    margin-top: 0;
    padding-top: 3rem;
    margin-bottom: 0;
    padding-bottom: 3rem;
    border-bottom: 1px solid #b3b3b37a;
}
.product-form__submit.button, .shopify-payment-button__button {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    width: 50%;
}
 .product-form__submit.button, .shopify-payment-button__button, .jdgm-btn.jdgm-btn--solid.jdgm-submit-rev {
    transition: all 0.4s ease-in-out; 
 }
 .product-form__submit.button:hover, .shopify-payment-button__button:hover, .jdgm-btn.jdgm-btn--solid.jdgm-submit-rev:hover, a.jdgm-btn.jdgm-btn--border.jdgm-cancel-rev:hover {
    transition: all 0.3s ease-in-out; 
    transform: scale(1.02);
    opacity:1;
 }
 a.jdgm-btn.jdgm-btn--border.jdgm-cancel-rev {
    border-color: rgb(var(--color-button))!important;
    color: rgb(var(--color-button))!important;
}
.jdgm-form input[type="text"]:focus, .jdgm-form input[type="text"]:focus-visible, .jdgm-form input[type="email"]:focus, .jdgm-form input[type="email"]:focus-visible, .jdgm-form input[type="url"]:focus, .jdgm-form input[type="url"]:focus-visible, .jdgm-form textarea:focus, .jdgm-form textarea:focus-visible {
    border-color: rgb(var(--color-button))!important;
}

 .thumbnail[aria-current] {
     box-shadow: 0 0 0 .1rem rgb(var(--color-button));
     border-color: rgb(var(--color-button));
    padding:2px;
 }
 .thumbnail-list__item.slider__slide {
     min-height: 80px;
 }
 
 button.slider-button.slider-button--prev, button.slider-button.slider-button--next {
     width: 40px;
 }
 .slider-button svg.icon.icon-caret {
     width: 50px;
     height: 50px;
     color: rgb(var(--color-button));
 }
.product__description.rte {color: rgb(var(--color-foreground));font-size: 16px;line-height: 24px;font-weight: 300;text-align: justify;}
.product-form__submit.button:hover, .shopify-payment-button__button:hover {
    transition: all 0.3s ease-in-out; 
    transform: scale(1.02);
 }
 .product-form__submit.button, .shopify-payment-button__button {
    transition: all 0.4s ease-in-out; 
 }
 
 .thumbnail[aria-current] {
     box-shadow: 0 0 0 .1rem rgb(var(--color-button));
     border-color: rgb(var(--color-button));
    padding:2px;
 }
 .thumbnail-list__item.slider__slide {
     min-height: 80px;
 }
 
 button.slider-button.slider-button--prev, button.slider-button.slider-button--next {
     width: 40px;
 }
 .slider-button svg.icon.icon-caret {
     width: 50px;
     height: 50px;
     color: rgb(var(--color-button));
 }
 
 .product-description {
     margin-top: 80px;
     padding-bottom: 15px;
     border-bottom: 1px solid #b3b3b37a;
     margin-bottom:0px
 }
 
 button.tablinks {
     background: unset;
     border: unset;
     text-transform: uppercase;
     font-size: 16px;
     color: rgb(var(--color-foreground));
     font-weight: 600;
     cursor: pointer;
     padding: 1rem;
 }
 button.tablinks:hover {
     color: rgb(var(--color-button));
 }
 button.tablinks.active {
     color: #fff;
     background:rgb(var(--color-button));
     border-radius: 5px 5px 0 0;
     transition: all 0.5s ease-in-out;
 }
 .tab {
     border-bottom: 1px solid #b3b3b37a;
     margin-top: 0;
     margin-bottom: 30px;
 }
 
 .tabcontent {
     color: rgb(var(--color-foreground));
     font-weight:300;
     font-size:16px;
     line-height:22px;
       -webkit-animation: fadeEffect 1s;
   animation: fadeEffect 1s;
 }

 @-webkit-keyframes fadeEffect {
   from {opacity: 0;}
   to {opacity: 1;}
 }
 
 @keyframes fadeEffect {
   from {opacity: 0;}
   to {opacity: 1;}
 }
 .jdgm-rev-widg__title {
    font-weight: 700!important;
    font-size: 24px!important;
    text-align: start!important;
}

.jdgm-row-stars {
    display: flex!important;
    align-items: flex-start!important;
    justify-content: space-between!important;
}

.jdgm-rev-widg__summary {
    width: auto!important;
    display: flex!important;
    align-items: flex-start!important;
    margin-right: 2% !important;

}

span.jdgm-rev-widg__summary-average {
    display: none!important;
}

.jdgm-histogram {
    width: 50%!important;
    display: flex!important;
    align-items: flex-start!important;
    padding-left: 5%!important;
    border-color: #b5b5b5!important;
}


.jdgm-widget-actions-wrapper {
    border: unset!important;
}

a.jdgm-write-rev-link, .jdgm-btn.jdgm-btn--solid.jdgm-submit-rev {
    background: rgb(var(--color-button))!important;
    transition: all 0.3s ease-in-out!important;
    border: 2px solid rgb(var(--color-button))!important;
}
a.jdgm-write-rev-link:hover{
    background: #fff!important;
    opacity:1!important;
    color: rgb(var(--color-button))!important;
    transition: all 0.3s ease-in-out!important;
}
.jdgm-form__title, .jdgm-form__fieldset label {
    color: #000!important;
}
.jdgm-row-actions {
    border: unset!important;
}

.jdgm-row-media, .jdgm-row-search, .jdgm-subtab, .jdgm-row-actions, .jdgm-quest, .jdgm-rev, .jdgm-paginate {
    border-color: #b5b5b5!important;
}

select.jdgm-sort-dropdown {
    opacity: 1!important;
    padding-left: 7px!important;
    border: 1px solid #b5b5b5!important;
    color: #000!important;
    font-weight: 700!important;
}

.jdgm-sort-dropdown-wrapper {
    margin-bottom: 15px!important;
}

.jdgm-sort-dropdown-wrapper .jdgm-sort-dropdown-arrow {
    color: #000!important;
}

.jdgm-row-rating {
    display: flex!important;
    align-items: center!important;
    justify-content: space-between!important;
}

span.jdgm-rev__timestamp {
    color: #000!important;
    font-weight: 300!important;
}

.jdgm-rev__icon {
    border-radius: 50px!important;
}
.jdgm-rev__icon:before {
    color: rgb(var(--color-button))!important;
}

.jdgm-rev__author{
    color:#000!important;
    font-weight:500!important;
}

.jdgm-row-profile {
    display: flex!important;
    align-items: center!important;
    margin-bottom: 0!important;
}

b.jdgm-rev__title {
    font-weight: 600!important;
    color: #000!important;
    font-size: 18px!important;
}

.jdgm-rev__content {
    margin-top: -10px!important;
}

.jdgm-rev__body p {
    color: #000!important;
    font-weight: 300!important;
}
.related-products__heading {
    font-weight: 700;
    font-size: 26px;
    color:#000;
}
.jdgm-rev-widg {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.card__information {
    flex-direction: column;
    justify-content: center;
}

.card-information {
    text-align: center;
}

.card__heading {
    text-align: center;
    font-weight: 700;
    width: 85%;
    margin: auto;
    font-size: 14px;
}

.price-item.price-item--regular {
    font-size: 16px;
    font-weight: 500;
}
.tab {
    overflow: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
}
.tab::-webkit-scrollbar {
    display: none;
}
.mobile-slider {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.slick-dots li button:before {
    content: ''!important;
    background: rgb(var(--color-button));
    height: 5px!important;
    border-radius: 50px;
}

.slick-dots li.slick-active button:before {
    width: 30px!important;
}

.slick-dots .slick-active button, .slick-dots li.slick-active  {
    width: 30px!important;
}
.card-information .price.price--on-sale, .card-information .price {
    text-align: center;
}
.collection-star .jdgm-prev-badge {
    display: flex!important;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-top: 10px;
}

.jdgm-star.jdgm--on:before {
    font-size: 14px!important;
}

span.jdgm-prev-badge__text {
    font-size: 14px!important;
    padding-left: 3%;
}
summary.facets__summary.caption-large, #verticalTitle {
    color: rgb(var(--color-foreground));
    font-weight: 700;
    font-size: 16px;
}

span.facet-checkbox__text, span.facets__selected {
    color: rgb(var(--color-foreground));
     font-weight: 500;
}

.facets-vertical .facet-checkbox input[type=checkbox] {
    color: #0E045F;
    border-color: #0E045F;
    border: 1px solid #0E045F;;
}

#verticalTitle{
    font-size: 18px;
}

input#Filter-Price-GTE, input#Filter-Price-LTE, .active-facets__button-inner.button.button--tertiary {
    border: 1px solid #0E045F;
    margin: 0!important;
}
a.underlined-link{
    background: rgba(var(--color-link), var(--alpha-link));
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    padding: 3px 15px;
    text-transform: uppercase;
    margin-bottom: 15px;
    border-radius: 50px;
     border:1px solid rgba(var(--color-link), var(--alpha-link));
    transition:all 0.3s ease-in-out;
}

a.underlined-link:hover{
    color: rgba(var(--color-link), var(--alpha-link));
    background: #fff;
    border:1px solid rgba(var(--color-link), var(--alpha-link));
    transition:all 0.3s ease-in-out;
}
/* End of Product Page */

@media only screen and (max-width: 980px) {
    .product__title h1 {
        font-size: 28px;
        line-height: 32px;
    }
    
    .template-product .product__info-wrapper .price--on-sale .price-item--regular {
        font-size: 18px!important;
        line-height: 22px;
    }
    
    .template-product .product__info-wrapper .price-item.price-item--sale, .template-product .product__info-wrapper .price-item.price-item--regular {
        font-size: 22px;
        line-height: 24px;
    }
    
    .product__description.rte {
        font-size: 14px;
    }
    
    .product-form__submit.button, .shopify-payment-button__button {
        width: 100%;
    }
    .page-width {
        padding: 0 3.5rem!important;
    }
    .product__description.rte {
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin: 0;
    }
    .product-description {
        margin-top: 30px;
    }
    .tabcontent {
        font-size: 14px;
    }
    .tabcontent h2 {
        font-size: 18px;
    }
    .jdgm-rev-widg__title {
        font-size: 22px!important;
        text-align: center!important;
    }
    .jdgm-row-stars {
        align-items: center!important;
        justify-content: start!important;
        flex-direction: column!important;
        flex-wrap: wrap!important;
    }
    .jdgm-histogram {
        width: 100%!important;
        display: flex!important;
        flex-direction: column!important;
        align-items: center!important;
        justify-content: center!important;
        align-content: center!important;
        flex-wrap: wrap!important;
    }
    .jdgm-rev-widg__summary-text {
        color: #000!important;
        font-size: 14px!important;
        margin-top: 5px!important;
    }
    .jdgm-form__title {
        font-size: 22px !important;
        font-weight: 600 !important;
    }
    .jdgm-form__fieldset label {
        font-size: 14px;
    }
    .jdgm-form__fieldset p {
        font-size: 14px;
        color: #000;
    }
    .related-products__heading {
        font-size: 24px;
    }
    
}

@media only screen and (max-width: 580px) {
    .page-width {
        padding: 0 1.5rem !important;
    }
    .related-products__heading {
        text-align: center;
        margin-bottom: 0;
    }
    .product__title h1 {
        font-size: 24px;
        line-height: 28px;
    }
    .slick-dots li.slick-active button:before {
        width: 25px!important;
    }
    .slick-dots .slick-active button, .slick-dots li.slick-active  {
        width: 25px!important;
    }
    .slider-button svg.icon.icon-caret {
        width: 15px;
        height: 15px;
    }
    .card__heading {
        width: 100%;
    }
}
